* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: navy;
    font-size: 60px;
    text-align: center;
}
.choice-container {
    display: flex;
    margin-bottom: 24px;
    width: 100%;
    border-radius: 50px;
    background: crimson;
    font-size: 24px;
    min-width: 100px;
    padding: 5px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 2px 3px 0 navy;
    transform: scale(1.05);
    transform: transform 200ms;
}

.choice-prefix {
    padding: 5px;
    color: oldlace;
}

.choice-text {
    padding: 5px;
    width: 100%;
    color: navy;
}

.correct {
    background: limegreen;
}

.incorrect {
    background: turquoise;
}

#display{
    display: flex;
    justify-content: space-between;
}

.display-prefix {
    text-align: center;
    font-size: 16px;
}

.display-main-text {
    text-align: center;
}

#progressBar {
    width: 50px;
    height: 15px;
    border: 25px lime;
    margin-top: 7px;
    border-radius: 50px;
    overflow: hidden;
}

#progessBarFull {
    height: 100%;
    background: lime;
    width: 0%;
}
@media screen and (max-width: 775px) {
    .choice-container {
        min-width: 50px;
    }
}